*{
    top: 0;
    margin: 0;
}
.container{
    display: flex;
    position: relative;
    justify-content: center;
}
.container .pagina{
    width: 900px;
    height: 100vh;
    background-color: blanchedalmond;
    position: fixed;
}
.container .pagina .group-list{
    background-color: #0d6efd;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
.container .pagina .group-list .new-group{
    display: flex;
    margin-top: 169%;
}
.botao_submit{
    width: 80px;
    padding: 4px;
    border-radius: 3px;
    background-color: #b7df76;
    border: none;
    cursor: pointer;
    outline: none;
}
.container .pagina .group-list .new-group .form-control{
    width: 200px;
    margin-left: 10px;
}
.form_modal .botao_submit{
    border-radius: 3px;
    padding: 6px;
    width: 100px;
    margin-top: 10px;
    background-color: #0d6efd;
    color: white;
    border: none;
    cursor: pointer;
}
.container .pagina .header_nome{
    background-color: #0d6efd;
    color: white;
    width: 900px;
    display: flex;
    user-select: none;
    align-items: center;
}
.container .pagina .header_nome h4{
    padding-left: 30px;
}
.container .pagina .header_nome .float-direita{
    left: 690px;
    position: relative;
    width: 68px;
    background-color: #b7df76;
    padding: 4px;
    color: black;
}
.container .pagina .group-list .grupo{
    background-color: #b7df76;
    width: 300px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
.container .pagina .group-list .grupo:hover{
    background-color: #0d6efd;
    color: white;
}
.container .pagina .mensagens{
    left: 300px;
    position: absolute;
    top: 35px;
    padding: 15px;
    background-color: #0d6efd;
    border-radius: 29px 29px 100px 29px;
    color: white;
    margin: 8px;
}
.container .pagina .new-mensagem{
    left: 300px;
    display: flex;
    position: absolute;
    top: 92%;
    margin-left: 30px;
}
.container .pagina .new-mensagem .form-control{
    width: 460px;
}
.container .pagina .new-mensagem .botao_submit{
    margin-left: 5px;
}