*{
    top: 0;
    margin: 0;
}
.container{
    display: flex;
    position: relative;
    justify-content: center;
}
.container .pagina{
    width: 900px;
    height: 100vh;
    background-color: blanchedalmond;
}
.container .pagina .group-list{
    background-color: #0d6efd;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.form_modal .botao_submit{
    border-radius: 3px;
    padding: 6px;
    width: 100px;
    margin-top: 10px;
    background-color: #0d6efd;
    color: white;
    border: none;
    cursor: pointer;
}
.container .pagina .group-list .header_nome{
    background-color: #b7df76;
    width: 300px;
    display: flex;
    justify-content: center;
}
.container .pagina .group-list .lista{
    background-color: #b7df76;
    width: 300px;
    display: flex;
    justify-content: center;
}
.container .pagina .group-list .lista:hover{
    background-color: #0d6efd;
}