*{
    top: 0;
    margin: 0;
}
.container{
    display: flex;
    position: relative;
    justify-content: center;
}
.container .pagina{
    width: 900px;
    height: 100vh;
    background-color: blanchedalmond;
    position: fixed;
    overflow: hidden;
}
.container .pagina .grupos-list{
    background-color: #0d6efd;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
.container .pagina .grupos-list #new-group{
    display: flex;
    position: absolute;
    top: 85%;
    background-color: blanchedalmond;
    padding: 13px;
}
.botao_submit{
    width: 80px;
    padding: 4px;
    border-radius: 3px;
    background-color: #b7df76;
    border: none;
    cursor: pointer;
    outline: none;
}
.container .pagina .grupos-list #new-group .form-control{
    width: 190px;
    margin-right: 5px;
}
#form_modal .botao_submit{
    border-radius: 3px;
    padding: 6px;
    width: 100px;
    margin-top: 10px;
    background-color: #0d6efd;
    color: white;
    border: none;
    cursor: pointer;
}
.container .pagina .header_nome{
    background-color: #0d6efd;
    width: 900px;
    display: flex;
    user-select: none;
}
.container .pagina .header_nome .nomesite{
    padding: 6px;
    padding-left: 36px;
    padding-right: 36px;
    background-color: #b7df76;
    font-style: italic;
    position: relative;
    display: flex;
    border-radius: 0 20px 20px 0;
}
.container .pagina .header_nome #navbarText.navbar-collapse{
    left: 500px;
    position: relative;
    background-color: #b7df76;
    padding: 4px;
    width: 60px;
    color: black;
}

.container .pagina .grupos-list .group-list .grupo{
    background-color: #b7df76;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.container .pagina .grupos-list .group-list .grupo:hover{
    background-color: #0d6efd;
    color: white;
}
.container .pagina .mensagens{
    top: 36px;
    display: flex;
    position: fixed;
    flex-direction: column;
    margin-left: 300px;
    width: 600px;
    height: 85%;
    overflow: scroll;
}
.container .pagina .mensagens .corpoDaMsg{
    position: relative;
    top: 5px;
    padding: 15px;
    background-color: #b7df76;
    border-radius: 29px;
    color: rgb(0, 0, 0);
    margin: 8px;
    border: solid black 2px;
}
.container .pagina #new-mensagem{
    left: 300px;
    display: flex;
    position: absolute;
    top: 92%;
    margin-left: 30px;
}
.container .pagina #new-mensagem .form-control{
    width: 460px;
}
.container .pagina #new-mensagem .botao_submit{
    margin-left: 5px;
}
.container .pagina .grupos-list .group-list .grupo .imagem{
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 10px;
}