*{
    margin: 0;
    padding: 0;
}
body{
    position: fixed;
}
.navegador_superior{
    height: 40px;
    width: 100vw;
    background-color: rgba(153, 205, 50, 0.753);
    display: flex;
}
.navegador_superior .minha_logo{
    height: 40px;
    width: 50px;
}
.navegador_superior .meu_botao{
    padding: 10px 20px;
    border: 0px solid rgb(160, 137, 137);
    outline: none;
    cursor: pointer;
}
.navegador_superior .meu_botao_postar{
    margin-left: 85%;
    padding: 10px 20px;
    border: 0px solid rgb(160, 137, 137);
    outline: none;
    cursor: pointer;
}
.navegador_superior .meu_botao_postar:hover{
    background-color: rgba(153, 205, 50, 0.753);
}
.navegador_superior .meu_botao:hover{
    background-color: rgba(153, 205, 50, 0.753);
}
.menu_retratil_esquerdo.active{
    height: 100vh;
    top: 40px;
    display: flex;
    /*height: calc(100vh - 40px);*/
}
.menu_retratil_esquerdo{
    background-color: rgb(0, 128, 128);
    height: 0;
    width: 400px;
    position: fixed;
    transition: height 2700ms;
    top: 40px;
}
.container .conteudo .imagem.active{
    left: 400px;
    position: relative;
}

/*Feed e posts*/
.container .conteudo {
    background-color: rgba(160, 137, 137, 0.61);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container .conteudo.active{
    left: 400px;
    position: relative;
    width: calc(100vw - 400px);
}

.container .conteudo .post{
    background-color: rgb(153, 205, 50);
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    height: 30px;
    padding: 5px;
}