*{
    margin: 0;
    padding: 0;
}

.navegador-sup{
    background-color: slategray;
    height: 40px;
    display: flex;
}

.navegador-sup .menu{
    font-style: normal;
    color: snow;
    text-decoration: none;
    margin: 10px;
}

.container{
    display: flex;
}

.container .menu-lateral{
    background-color: springgreen;
    width: 350px;
    height: 800px;
}
.container .menu-lateral .menu-L{
    text-decoration: none;
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

.container .conteudo .celula1{
    position: absolute;
    display: flex;
    height: 400px;
    width: 100%;
    background-color: tomato;
}

.container .conteudo .celula2{
    position: relative;
    display: flex;
    height: 400px;
    width: 100%;
    background-color: darkblue;
}