*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}

.navegador-sup{
    background-color: slategray;
    height: 40px;
    display: flex;
}

.navegador-sup .menu{
    font-style: normal;
    color: snow;
    text-decoration: none;
    margin: 10px;
    box-shadow: 5px 3px rgb(0, 0, 0, .5);
    box-shadow: 5px 3px 5px 3px rgb(0, 0, 0, .5);
}

.container{
    display: flex;
}

.container .menu-lateral{
    background-color: springgreen;
    flex-shrink: 0;
    width: 350px;
    height: 800px;
}

.container .conteudo{ 
    flex-grow: 1;
}

.container .menu-lateral .menu-L{
    text-decoration: none;
    display: flex;
    padding-top: 50px;
    justify-content: center;
    box-shadow: 5px 3px 5px 3px rgb(0, 0, 0, .5);
}

.container .conteudo .linha1{
    display: flex;
    height: 400px;
    width: 100%;
}

.container .conteudo .linha2{
    display: flex;
    height: 400px;
    width: 100%;
}

.container .conteudo .linha1 .celula {
    flex-shrink: 0;

    flex-basis: 100%;
}

#celula01 {
    background-color:  tomato;
    flex-basis: calc((100vw - 350px)/2);
    text-align: center;
}    
#celula02 {
    background-color:rgb(255, 251, 6);
    flex-basis: calc((100vw - 350px)/2);
    text-align: center;
} 
#celula03 {
    background-color: darkblue;
    flex-basis: calc((100vw - 350px)/3);
    text-align: center;
} 
#celula04 {
    background-color: rgb(0, 0, 0);
    flex-basis: calc((100vw - 350px)/3);
    text-align: center;
    color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
} 
#celula05 {
    background-color: rgb(0, 204, 255);
    flex-basis: calc((100vw - 350px)/3);
    text-align: center;
} 

@media screen and (max-width: 768px) {

    /* Estilo para modificar o container*/
    .container {
        flex-direction: column; 
    }
    .container .conteudo .linha1 {
        flex-direction: column;
        width: 100%;
        height: auto;
        
    }

    .container .conteudo .linha2 {
        flex-direction: column;
        width: 100%;
        height: auto;
        
    }
    #celula01, #celula02, #celula03, #celula04, #celula05 {
        width: 100%;
        height: 400px;
        flex-basis: initial;
    } 

    .container .menu-lateral{
        height: 400px;
        width: auto;
    }

    .container .menu-lateral .menu-L{
        box-shadow: none;
    }
    .navegador-sup .menu{
        box-shadow: none;
    }
}

.cubomagico img{
    height: 121px;
    width: 121px;
    animation-name: animatiON;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}
.container .conteudo .linha1 .celula#celula02 .overlay{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.container .conteudo .linha1 .celula#celula02 .overlay .overlay-inner{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 400px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.container .conteudo .linha1 .celula#celula02 .overlay img{
    height: 400px;
}
.container .conteudo .linha1 .celula#celula02 .overlay .overlay-inner .overlay-text{
    color: white;
}

@keyframes animatiON{
    from{
        transform: rotate(0deg) translateX(50px);
    }
    to{
        transform: rotate(360deg) translateX(50px);
    }
}
